/*SELECTORES*/
#titulo{ /*se coloca #titulo, debido a que es una variable que declaramos en html con id y esto para referirnos a esa propiedad en específico*/
    color:violet;
}
p.texto{ /*se utiliza .texto para referirse a la clase creada en html par la propiedad p, y la p antes de la clase texto es para indicar que se cambiará el estilo a las etiquetas p que contengan la clase texto*/
    color:slateblue;
}
p.textoEspecial{
    color:sienna;
}
p.especial{
    color:blueviolet;
}
div p { /*Esto quiere decir que, en todas las etiquetas de div que contengan p como hijos o decendentes, queremos que tengan el siguiente estilo*/
    color:darkblue;
}
div h2, div h3{ /*Esto es para seleccionar los h2 dentro del div Y Aparte también los h3 dentro de ese div*/
    color: rgb(255,222,0);
}

*{ /*Para cambiar absolutamente todo, las cambia solamente si estas NO han sido definidas*/
    font-size:24px; /*La fuente se cambia, de toda la página web*/
    color:black; /*No cambia el color, porque ya está designado arriba*/
}

.color{
    /*border:5px red inset;*/ /*con cntl+espacio se muestran todas las opciones */
    /* ELEMENTOS PARA BORDER
    dotted
    dashed
    solid
    double
    groove
    ridge
    inset
    outset
    none
    hidden
    ----PROPIEDADES DE BORDER-----
    */
    border-style: solid;
    border-color: darkolivegreen;
    border-radius:5px;;/*Borde redondeado*/
    border-width: 2rem;/*ancho del borde*/
    /*----UNIDADES DE MEDIDA------
    cm-centímetros
    mm-milímetros
    in-pulgadas
    pc-pica
    em- dos veces el tamaño que se está utilizando(Recomendable)
    rem- relativo al tamaño de la fuente del elemento raíz(recomendado)
    */
}
#fondo{
    /*----PROPIEDAD DE BACKGROUND---*/
    background-color:rgba(255, 0, 0, 0.2);
    /*opacity:0.2 ;*/ /*0-1. 0 no se ve nada y 1 se ve completamente. Le da la opacidad al elemento completo*/
    height: 200px;
    background-image: url('AbbeyRoad.jpg');/*poner imagen de fondo*/
    background-size:cover/*(cover)se ajusta al tamaño del explorador*/ ; /*Redimensionar nuestra imágen de fondo*/
    /*background-size:400px 400px (ancho y alto)*/
    background-repeat: repeat-x; /*para que la imagen no se repita o se repita en la coordenadas deseadas*/
    background-position: center top; /*en dónde comenzará a verse el fondo de nuestro elemento*/
    /*UTILIZAR TODAS LAS PROPIEDADES ANTERIORES*/
    background: #f00 url(AbbeyRoad.jpg) repeat-y center bottom /100px 100px ;
    
}
.margen{
    /*PROPIEDAD DE MARGEN*/
    background-color: chocolate;
    margin: 15px; /*Espacio fuera del elemento(arriba derecha abajo izquierda)*/
    padding: 30px 25px 5px; /*Espacios dentro del elemento*/
    border: solid 1px black;
    height:200px ;/*Asignar un alto a los elementos*/
    width: 50px; /*Asignar un alto*/
    overflow: scroll;/*Cambiar la visibilidad de los elementos (ocultar cuando no se alcance a mostrar, agrega scroll etc)*/
    outline:1px solid red;/*Borde que se coloca fuera del borde*/
    
}
.text{
    text-align: center; /*Alineación de texto*/
    text-decoration: overline;/*Decoración de texto*/
    text-shadow: 3px 5px 5px blue;/*Sombra a los textos(cuanto queremos mover "izquierda, abajo, cantidad de blur")*/
    font-family:'Instrument Serif' ;/*fuente*/
}
/*LINKS*/
a:link{ /*Seleccionar cuando el link no ha sido visitado*/
    color:blueviolet;
}
a:visited{ /*cuando el link ya ha sido visitado*/
    color:gray;
}
a:hover{ /*cuando pasa el mouse por encima*/
    color:yellow;
}
a:active{ /*cuando se pincha el link*/
    color:red;
}
/*LISTAS*/


ul, li{
    background-color: crimson; /*Fondo a la lista*/
    /*list-style-type: none;/*Quitar el estilo predeterminado*/
    padding-left: 0; /*quitar espaciado a la izquierda*/
    list-style-type: square; /*viñetas que aparecerán*/
}
table{ /*y todo lo que la compone, th,td,tr*/
    width:100% ; /*todo el ancho*/
    border-collapse: collapse; /*Quitar separación de casillas*/
    
}
th,td{
    border:solid 1px #f0f;/*asignar borde*/
    padding: 5px;
}
th{ /*Características solamente para la cabecera de las tablas*/
    background-color: tomato; /*Pintal el color de la cabecera*/
    color: white; /*Color de fuente*/
}
tr:hover{ /*Que la fila se seleccione al posicionar el mouse*/
    background-color: white;
    color: black;
}
tr:nth-child(even){ /*(Even)inpar(Odd)Par Seleccionar solamente algunos elementos en particular*/
    background-color: #ee3;
}
tr:hover{ /*Que la fila se seleccione al posicionar el mouse*/
    background-color: white;
    color: black;
    cursor:pointer/*colocar la manita cuando se pase el mouse por encima*/
}
span{
    display: block; /*Viene por defecto en casi todos los elementos que se usan en html, brincar línea*/
    /*display: none; /*Los elementos desaparecen*/
    /*visibility: hidden; /*Los elementos se esconden*/
    max-width: 300px; /*El ancho maximo*/
    background-color: blueviolet;
}
.inline{
    display: inline; /*para que la división se ponga de ladon*/
}
#position{
    /*position: static; /*es como vienen por defecto los elementos*/
    /*position: relative; /*Posición relativa, es decir, puede estar en donde quieramos*/
    left: 20px; /*distancia que se mueva a la izquierda*/
    top: 25px;
    /*position: fixed; /*se posiciona en el mismo lugar en el explorador, aunque se scrolee hacia abajo*/
    /*position:sticky;*/
}
.left{
    float:left; /*Hace a los elementos flotantes, ya sea a la izquierda o derecha y los  elementos sobrantes los posiciona al contrario*/
    width: 200px;
    height: 200px;
}
.right{
    float: right;
}
.container{
    height: 200px;
}
.card{
    border:solid salmon;
    border-radius: 5px;
    margin: 0 15px; /*0(horizontal) 15(vertical)*/
}



